body {
  margin: 0px;
  padding: 0px;
  font-family: calibri;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*background */
.main {
  width: 100%;
  height: 150vh;
  background-image: url("../img/blue.png");
  background-size: 120% 80%;
  background-position: top center;
  background-repeat: no-repeat;
}
/*logo utama di pojok kiri atas*/
.logo img {
  height: 80px;
  width: 50px;
  height: 50px;
  text-align: left;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 30px;
  background-color: transparent;
  /* box-shadow: 2px 2px 20px rgba(157, 161, 196, 0.24); */
  z-index: 1;
  width: 100%;
  /* position: -webkit-sticky; /* Safari */
  position: sticky; */
  top: 0;
}

nav ul {
  display: flex;
  margin: 5px;
  padding: 0px;
  margin-left: 17.5cm;
}

/*scan report donlot dkk.*/
nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 10px;
  padding: 0px 22px;
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  color: #4a4cf6;
  letter-spacing: 1px;
  border-radius: 10px;
}

.download{
  height: 40px;
  line-height: 43px;
  margin: 10px;
  padding: 0px 22px;
  display: flex;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  background-color: #4a4cf6;
  border-radius: 10px;
}

.download:hover{
  background-color: #04054d;
  color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(112, 157, 241);
  transition: all ease 0.2s;
}

nav ul li a:hover {
  background-color: #4a4cf6;
  color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(112, 157, 241);
  transition: all ease 0.2s;
}
/*----------------------------------------------------------------------------*/
.home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
/* LOGO UTAMA WEB */
.home-img {
  width: 300px;
  height: 200px;
  margin: 100px;
}
.home-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/*Kata-kata web*/
.home-text {
  width: 500px;
  margin: 20px;
}
.home-text h1 {
  font-size: 3.5rem;
  line-height: 55px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.home-text p {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
}
.main-button {
  width: 320px;
  height: 35px;
  display: block;
  /* justify-content: center;
  align-items: center;  */
  margin-left: auto;
  margin-right: auto;
  background-color: #4a4cf6;
  text-align: center;
  padding: 7.5px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  border-radius: 10px;
}
.main-button:hover {
  background-color: #04054d;
  box-shadow: 5px 10px 30px rgba(100, 143, 224, 0.911);
  transition: all ease 0.4s;
}

/* UNTUK SERVICES */
/*
.services{
  background-image:url(keyboard.jpg);
  background-size: 1000px;
  background-position: center;
} */
.services-heading {
  /* margin-top: 20px; */
  display: flex;
  /* justify-content: center;*/
  /* align-items: right; 
  text-align: left;
  flex-direction: column; */
}
.services-service{
  flex : 50%;
  padding : 55px;
}

.services-heading h2 {
  line-height: 55px;
  font-size: 2.8rem;
  color: #22252e;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0px;
}
.services-heading p {
  font-size: 1rem;
  color: #777474;
  width: 100%;
}
.scan-button{
  width: 100px;
  height: 35px;
  display: block;
  background-color: #4a4cf6;
  text-align: center;
  padding: 7.5px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  border-radius: 10px;
}
.scan-button:hover {
  background-color: #04054d;
  box-shadow: 5px 10px 30px rgba(100, 143, 224, 0.911);
  transition: all ease 0.4s;
}

.col{
  display : flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.2rem;
  margin: auto;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 30px;
}
.col-4{
  flex : 33.33%;
  padding:20px;
}

.card {
  text-align:center;
}
.card img{
  display:inline-block;
  width:60%;
  margin:0 1% 0 1%;
}
.card-text{
  font-size: 1.5rem;
}



.feature-1{
  text-align: center;
}

.box-container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 30px;
}
.box-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  margin: 20px;
  flex-grow: 1;
}
.box-bot font {
  font-size: 3rem;
  color: black;
  letter-spacing: 1px;
  font-weight: 700;
}
.box-bot p {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #777474;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 700px;
}
.box-bot a {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4a4cf6;
  text-transform: uppercase;
  margin: auto;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #4a4cf6;
  margin: 0px;
}
.box-bot a:hover {
  background-color: #4a4cf6;
  color: #fff;
  box-shadow: 5px 10px 30px rgb(121, 151, 236);
  transition: all ease 0.3s;
  border-radius: 10px;
}

/*footer*/
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  border-top: 2px solid rgba(167, 167, 167, 0.2);
  background-color: #4a4cf6;
}
footer a,
footer p {
  color: rgb(255, 255, 255);
}
